.custom-navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #090633fd
}

#font {
  font-weight: 100;
  font-family: 'Work Sans', sans-serif;
  font-size: large;
}

.custom-logo {
  display: flex;
  align-items: center;
  color: white;
  text-decoration: none;
  font-size: 1.5rem;
  transition: color 0.3s ease;
}

.custom-logo:hover {
  color: #FFD700;
}

.custom-logo img {
  margin-right: 10px;
}

.custom-search {
  flex: 0.5;
  margin: 0 20px;
}

.custom-register {

  color: rgb(255, 254, 254);
  border: none;
  border-radius: 20px;
  /* padding: 5px 15px; */
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.custom-register:hover {
  
  color: #f01212;
}

.custom-navbar .custom-nav-link {
  color: white !important;
  transition: color 0.3s ease;
}



.custom-search .form-control::placeholder {
  color: rgb(8, 8, 8);
}

.custom-search .form-control {
  color: rgb(2, 2, 2);
  background-color: #ffffff;
  border: none;
  border-radius: 20px;
}

.custom-nav-link:hover {

  color: rgb(231, 8, 8) !important;
  border-radius: 35px;
}

