#name{
    text-align: center;
    font-weight: 700;
    font-size:16px;
    font-family: 'Work Sans', sans-serif;
}
#title{
    font-size: large;
    font-weight: 700;
    font-family: 'Work Sans', sans-serif;
}

#movie-card:hover{
    transform: scale(1.03);
}

#con{
    font-weight: 900;
    font-family: 'Work Sans', sans-serif;
    color: rgb(255, 255, 255);
   
}

#vc{
  background-color: rgba(0, 0, 0, 0.493);
  padding: 10px;
  border-radius: 15px;
}
#body{

    font-family: 'Work Sans', sans-serif;
}

.avatar-container {
    display: flex;
  }
  
  .avatar {
    margin-right: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .avatar img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 50%; 
  }
  
  .avatar span {
    margin-top: 8px;
  }

.gold {
    color: gold;
  }
  
  .gray {
    color: gray;
  }
  
  #btn:hover{
    background-color: brown;
  }
  
  #span{
    font-weight: 700;
    font-size:16px;
    text-align: center;
    font-family: 'Work Sans', sans-serif;
  }