.theatre-list-container {
  text-align: center;
  padding: 20px;
  background-color: #f9f9f9;
  font-family: 'Work Sans', sans-serif;

}

.heading {
  color: #333;
  margin-bottom: 20px;
}

.label-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 15px;
}

.label {
  font-weight: bold;
  margin-right: 10px;
  color: #555;
}

.select-box {
  padding: 8px;
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: #fff;
  transition: border-color 0.3s;
}

.select-box:hover {
  border-color: #007bff;
}

#card {
  border: 1px solid #ccc;
  padding: 15px;
  margin: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 240px;
  transition: box-shadow 0.3s;
  align-items: center; /* Center the content vertically */
  text-align: center; /* Center the text content */
  padding: 20px; /* Increase padding for spacing around the image */
  box-sizing: border-box; /* Include padding in width calculation */
  position: relative; 
}

#card:hover {
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}
.movie-name{
  color: darkred;
  font-weight: bolder;
  font-size: x-large;
}
.theatre-name {
  color: #090633fd;
  font-size: 20px;
  margin-bottom: 5px;
  font-weight: bolder;
  padding: 20px;
}

.show-times {
  margin: 0 auto;
  text-align: center;
}

.show-list {
  list-style: none;
  padding: 0;
  margin: 10px 0; /* Added margin between each show timing */
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.show-list li {
  font-size: 14px;
  padding: 8px 16px;
  border-radius: 5px;
  background-color: #e3e8ecc9;
  color: darkgreen;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s;
  margin-right: 60px; /* Increase the margin-right for spacing */
}

.show-list li:hover {
  background-color: #0056b3;
  transform: scale(1.05);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.cover-image {
  max-width: 60%;
  height: auto;
  border-radius: 10px;
  margin: 0 auto; /* Center the image horizontally */
}

#iddiv{
  font-family: 'Work Sans', sans-serif;
}

