.world-container-fluid {
  background-color: #320073;
  padding: 20px;
}

.curved-image,
.curved-image2 {
  border-radius: 20px;
  max-width: 100%; /* Adjusted to 100% */
  display: block;
  margin: 0 auto;
}

.text {
  color: white;
  padding-top: 40px;
  font-size: x-large;
  text-align: center; 
}

/* .flag-card {
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
} */

/* .flag-card:hover {
  transform: scale(1.05);
} */

.flag-img {
  margin: 0 auto;
  display: block; /* To center-align the image */
  max-width: 100%; /* Adjusted to 100% */
}
.world-container{
  width: 55%;
}

@media(max-width:500px){
  .curved-image{
    height: 80px;
    width: 500px;
  }
  .world-container{
    width: 100%;
  }
}
